*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main{
  padding: 36px;
}

.header{
  display: flex;
  align-items: center;
  height: 65px;
  /* background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%); */
  background-color: red;
  color: white;
  padding: 20px ;
}

img{
  width: 70px;
}

.header--image{
  margin-right: 6px;
}

.header--title{
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project{
  font-size: .75rem;
  /* font-weight: 500; */
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 16px;
}

.form--input{
  border-radius: 5px;
  border: 1px solid #d5d4d8;
}

.form--button{
  grid-column: 1 / -1;
  border-radius: 5px;
  /* background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%); */
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image{
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.meme{
  position: relative;
  color: white;
  text-align: center;
}

.top{
  position: absolute;
  top: 0;
  left: 40%;
}

.bottom{
  position: absolute;
  bottom: 0;
  left: 40%;
}